[Unit]
Description=Service for Golang calculator
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/home/app/calc-microservice

[Install]
WantedBy=multi-user.target